<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pachimari Accueil</title>
  <% include ./partials/header %>
</head>
<body>

<% include ./partials/navbar %>

<% include ./partials/footer %>

</body>
</html>

